.App {
    /* text-align: center; */
    background-color: #f0ede5 !important;
    height: max-content;
}

body {
    background-color: #f0ede5 !important;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #61dafb;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.desRow div ul li {
    width: 650px;
    text-overflow: ellipsis;
    list-style-type: circle;
}

.detail-content {
    min-height: 550px;
    background-color: white;
    width: 90%;
}

Container {
    max-width: 50% !important;
}